<html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Demo</title>

    <form action ="/get_results" method="post">
        <label for="science">Science:</label><br>
        <input type="number" id="science" name="science" required><br>
        <label for="math">Math:</label><br>
        <input type="number" id="math" name="math" required><br>
        <label for="english">English:</label><br>
        <input type="number" id="english" name="english" required><br>
        <button type="submit">Submit</button>
    </form>
</html>
</html>